.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# ignore all analysis inputs / products
analysis
analysis/*
!analysis/README.md

# never include local.makefile configurations
makesfiles/local.makefile

# don't include log files
logs