.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# ignore all analysis inputs / products
analysis/*
!analysis/README.md
*.png

# never include local.makefile configurations
makefiles/local.makefile

# don't include log files
logs

refdata/*.RDS
refdata/*.dta