.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# ignore all analysis inputs / products
analysis
analysis/*
!analysis/.gitignore

# never include local.makefile configurations
local.makefile
makesfiles/local.makefile

# don't include log files
logs